.gitattributes
.gradle
bin
build
logs
run
src/generated/resources/.cache

.classpath
.idea
.metadata
.project
.settings
.vscode
*.iml
*.ipr
*.iws
*.launch
eclipse
out
src/test

.DS_Store
desktop.ini
thumbs.db
