.classpath
.DS_Store
.gitattributes
.gradle
.idea
.metadata
.project
.settings
.vscode
*.iml
*.ipr
*.iws
*.launch
bin
build
desktop.ini
eclipse
logs
out
run
src/generated/resources/.cache
src/test
thumbs.db
